.sec-credo {
    width: 100%;
    display: inline-block;
    margin-top: 100px;
}

.heading-credo {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 0px;
}
.st-bx-1{
    margin-top: 200px;
}
.st-bx-2{
    margin-top: 200px;
}
.st-bx-3{
    margin-top: 200px;
}
.vertical-img{
    width: 90%;
}
.credo-desp{
    font-size: 20px;
}

.desktop-view-line{
    display: block;
}
.mobile-view-line{
    display: none;
}

.credo-title{
    font-size: 22px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    span.legend-text {
        font-size: 24px;
    }
    /* .desktop-view-line{
        display: none;
    }
    .mobile-view-line{
        display: block;
    } */
}