.sec-kickstart{
  width: 100%;
  display: inline-block;
  padding-top: 120px;
}

.text-p-light {
  font-size: 48px;
  width: 90%;
  margin: 0 auto;
  line-height: 55px;
}

.ks-heading-bold{
  font-size: 4.5rem !important;
  font-weight: 700 !important;
}




  
  /* .vertical-timeline-element--work {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  } */

  .section-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color:  #141414;  */
    color: #fff; /* White text */
    /* padding: 40px; */
    /* border: 1px solid #fff; */
  }
  
  .text-content .heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .text-content .heading span {
    color: #00f; /* Highlight color for X and 10X (adjust as needed) */
  }
  
  .text-content .subheading {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .icon-container .zebra-icon {
    width: 120px; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
  }
  .icon-container {
    position: absolute;
    bottom: -40px;
    left: 46%;
}

.main-gd-bx {
  /* border: 1px solid; */
  /* margin-top: 100px; */
  padding: 20px;
  position: relative;
  /* background-color:  #141414; */
}



.top-space {
  margin-top: 100px !important;
}
.bottom-space{
  margin-bottom: 100px !important;
}
.grid-mid-2{
  position: relative;
  height: 200px;
  background-color:  #141414;
}


.top-text{
  position: absolute;
  left: 37%;
  right: 50%;
  top: -20px;
  z-index: 99999999;
  background-color: #000 !important;
  width: 200px;
  text-align: center;
}

.grid-get-intouch{
  position: relative;
  height: auto;
  background-color:  #000;
}
.top-text-form{
  /* position: absolute;
  left: 37%;
  right: 50%;
  top: -25px;
  z-index: 99999999;
  background-color:  #000 ; */
  /* width: 400px; */
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}