.sec-team{
  width: 100%;
  display: inline-block;
  padding-top: 120px;
}
/* Basic Layout for Team Member */
.team-member {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.team-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 81%); /* Overlay color with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: #fff;
  text-align: center;
}

.overlay-content h5 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}

.overlay-content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.social-links a {
  padding: 8px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 4px;
  color: #000;
}

.social-links a:hover {
  text-decoration: none;
  background-color: #444;
  color: #fff;
}

.team-form-head{
  font-size: 36px;
  font-weight: 700;
}